baseURL = "https://blog.androiddevapps.com/"
title = "Android Tech Blog"
theme = "PaperMod"
languageCode = "en-us"

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 5

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 30

  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 30


  [[menu.main]]
    identifier = "privacy"
    name = "Privacy"
    url = "/privacy/"
    weight = 30

[params]
  ShowShareButtons = false
  ShowReadingTime = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true